# macOS
# =========================
# Xcode
# =========================

DerivedData/
build/

*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Swift Package Manager
.build/

# =========================
# macOS
# =========================

.DS_Store

# =========================
# Python cache files
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Logs
# =========================

*.log

# =========================
# Temporary files
# =========================

*.tmp
*.swp
